.flex {
  align-items: center;
  display: flex;
  justify-content: center;
}

.about-item {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: var(--chakra-space-8);
  width: var(--chakra-space-64);
}
